<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  {{input type="text" value=name class="mdl-textfield__input"}}
  <label class="mdl-textfield__label">{{title}}</label>
</div>

<div class="text">
  <h3>My name is {{name}} and I want to learn Ember!</h3>
</div>

